<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NDC FlightSearch API Suite" parallel="classes" thread-count="2">
    <test name="Positive Scenarios">
        <classes>
            <class name="tests.FlightSearchPositiveTests"/>
        </classes>
    </test>
    <test name="Negative Scenarios">
        <classes>
            <class name="tests.FlightSearchNegativeTests"/>
        </classes>
    </test>
</suite>
